<div class="container">
    <div class="text-center">
        <h2>New Poll</h2>
    </div>
    <form [formGroup]="pollForm" (ngSubmit)="createPoll()">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label>Question</label>
                    <input type="text" placeholder="Type your question here..." formControlName="question"
                           class="form-control">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Number of options</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" formControlName="numberOfOptions" class="form-control" min="2"
                                   [(ngModel)]="numberOfOptions">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div *ngFor="let item of arrayOne(numberOfOptions); let i = index">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label>Option {{i + 1}}</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="poll option..."
                                       [(ngModel)]="options[i]" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary w-50">Create Poll</button>
                </div>
            </div>
        </div>
    </form>
</div>
